ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	display: flex;

	flex-flow: row wrap;
	justify-content: space-evenly;
}

.my-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.my-item {
	background: tomato;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	margin-top: 10px;
	border: none;a
	padding: 5px;
}